header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 80px;
}

header .logoHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logoHeader a{
    height: 45px;
}

header .logoHeader .iconHeader{
    font-size: 50px;
    animation: rainbow 2s linear infinite;
}

@keyframes rainbow{
    0%, 100%{
        color: var(--primaryDarkColor);
    }
    50%{
        color: var(--secondaryDarkColor);
    }
}

header .iconsBox{
    display: flex;
    align-items: center;
    gap: 20px;
}

header .iconsBox .iconStyle{
    font-size: 25px;
}

header .iconMode{
    display: none;
}